ansible.cfg
inventory
ansible_log
test.yml
*.swp
key_pair
key_pair.pub

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
!tf/ec2/env.auto.tfvars

